<h1>Editing Society</h1>

<%= render 'form', society: @society %>
<div class="actions">
	<%= link_to 'Show', @society, {class: "button"} %>
	<%= link_to 'Back', societies_path, {class: "button"} %>
</div>