<h1>Societies</h1>

<ul>
  <% @societies.each do |society| %>
    <li>
    	<%= link_to society.name, society %>
    </li>
  <% end %>
</ul>

<br>

<%= form_tag reload_societies_path, method: :post do %>
	<div class="actions">
		<%= link_to 'New Society', new_society_path, {class: "button"} %>
		<%= submit_tag 'Load From Files' %>
	</div>
<% end %>