<p id="notice"><%= notice %></p>

<h1>Societies</h1>

<%= render 'search_form', search_params: @search_params %>

<div id="nested-container">
  <% @societies.each do |society| %>
    <%= render 'node', element: society, scope: @search_params %>
  <% end %>
</div>

<br>

<%= link_to 'New Society', new_society_path %>
