.nested-container {
	margin: 10px;
	background-color: rgba(0,0,0,0.1);
}

.nested-root {
	background-color: rgba(0,0,0,0.1);
}

.nested-child {
	padding-left: 10px;	
	padding-bottom: 2px;	
	display: none;
	background-color: rgba(0,0,0,0.1);
}

.animate-remove {
	background-color: #000;
    height: 0px;
    transition: height 1s;
}

.nested-caret {
	margin-right: 10px;
	a, a:visited {
		text-decoration: none;
	}
}

.options-right {
	float: right;
	padding-right: 10px;
	width: 80px;
	text-align: center;
}


div.error-message {
	display: none;
    text-align: center;
    background-color: red;
    color: black;
    padding: 2px;
    ul {
    	text-decoration: none;
    	list-style: none outside none;
    	padding: 0;
    }

    position: absolute;
}

div[data-errors="true"] {
	border-color: red;
    border-style: solid;
    border-width: 1px;
}

table {
	width: 100%;
	text-align: center;
}
