.nested-container {
	a {
		color: black;
	}
}

.nested-statement:hover {
	background-color: rgba(250,250,255,1);	
}

.nested-root {
	background-color: rgba(150,180,200,0.1);
}

.nested-child {
	padding-left: 10px;	
	padding-bottom: 2px;	
	display: none;
	background-color: rgba(150,200,200,0.1);
}

.animate-remove {
    height: 0px;
    transition: height 1s;
}

.nested-caret {
	margin-right: 10px;
	a, a:visited {
		text-decoration: none;
	}
}

.options-right {
	float: right;
	padding-right: 7px;
	width: 90px;
	text-align: center;
	//display: none;
	&.options-l {
		width: 130px;
		padding-right: 0px;
	}
}


div.error-message {
    text-align: center;
    background-color: rgba(200,0,0,0.7);
    color: black;
    padding: 2px;
    padding-right: 8px;
    ul {
    	margin: 2px;
    	width: 100%;
    	text-decoration: none;
    	list-style: none outside none;
    	padding: 0;
    }

    position: absolute;
}

div[data-errors="true"] {
    input,select {
		border-color: red;
		border-style: solid;
		border-width: 1px;
    }
}

table {
	width: 100%;
	text-align: center;
}

#manual {
	width: 50%;
	margin-left: 25%;
	.indice{
		width: 75%;
		margin-left: 12.5%;
		margin-top: 60px;
	}
}

header{
	a {
		text-decoration: none;
		color: white;
		text-transform: uppercase
	}

	ul {
		margin: 0px;
		padding-right: 10px;
		display: inline;
		position: absolute;
		right: 0px;
		li {
			font-size: 12px;
			margin: 20px;
			position: relative;
			display: inline;
			letter-spacing: 2px;
			a:hover {
				color: rgba(150,150,150,1);
				text-shadow: none;
			}
		}
	}

	.container{
		background-color: black;
		width: 100%;
		height: 40px;
		padding-top: 30px;
		padding-left: 40px;
	}

	#logo {
		float: left;
		font-size: 30px;
		font-weight: bold;
	}
}

body {
	margin: 0px;
	a {
		text-decoration: none;
	}
}

#main-container {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
}

.show-on-click {
	display: none;
}

.nested-show-on-click {
	display: none;
}

.xl-field {
	input {
		width: 100%;
	}
}

.nested-form {
	width: 450px;
}

.home-container {
	padding: 60px;
	background-color: #EEE;
	text-align: center;

	h1 {
		font-size: 55px;
	}

	p {
		color: #777;
		font-size: 20px;
		padding-top: 25px;
	}
}

.flash-container {
	height: 0px;
	position: relative;
	z-index: 100;
	p {
		padding-left: 5%;
		float: top;
		margin: 0px;
		width: 95%;
	}
	.notice {
		color: green;
		background-color: rgba(200,250,200,0.5);
	}
	.alert {
		color: red;
		background-color: rgba(250,200,200,0.5);
	}
}

table {
	border-collapse: collapse;
	th {
	 	border-bottom: 1px solid #BBB;
	 	height: 40px;
	}
	 td {
	 	border-bottom: 1px solid #DDD;
	 	vertical-align: center;
	 	padding: 5px;
	}
	tbody tr:hover {
		background-color: #F3F3F9;
	}
}

td.cell-align-right {
	text-align: left;
}

.advanced-options {
	background-color: #F0F3F9;
	width: 300px;
}


.field {
	width: 300px;
	select, input[type="text"] {
		float: right;
	}
	select {
		background-color: #454545;
		border: 1px solid #555555;
		color: #EEE;
	}
}

.actions {
	margin-top: 15px;
	input[type="submit"], .button {
	    background-color: #3090FF; 
	    background-color: #FF8000; 
	    border: none;
	    color: white;
	    padding: 5px 30px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 12px;
	    margin-right: 10px;
	    text-transform: uppercase;
	    font-weight: bold;
	    letter-spacing: 2px;
	    width: 250px;
	    line-height: 12px;
	    box-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
	    &.button-s {
	    	width: 30px;
	    	padding: 5px 5px;
	    	letter-spacing: 0px;
	    }
	    &.button-l {
	    	width: 100%;
	    }
	    &.button-field {
	    	width: 300px;
	    }
    }
    .button {
    	width: 190px;
    }
}

a {
	color: inherit;
	&:hover {
		text-shadow: 1px 1.4px #AAA;
	}
}

.nested-form {
	background-color: #CCC;
	width: 510px;
	form {
		padding: 15px;
	}
	.nested-form-head {
		width: 100%;
		background-color: black;
		padding-top: 0px;
		padding-bottom: 8px;
		h2 {
			margin: 0px;
			color: white;
			text-align: center;
			letter-spacing: 3px;
			text-transform: uppercase;
			line-height: 12px;
			font-size: 15px;
		}
	}
}

h1,h2,h3 {
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 0px;
	padding-top: 10px;
	color: #454545;
	font-weight: bold;
	span.title-details {
		font-size: 10px;
		padding-left: 20px;
		color: #888;
		text-transform: uppercase;
	}
}