<h1>Editar Institucion Financiera</h1>

<%= render 'form', bank: @bank %>

<div class="actions">
	<%= link_to 'Show', @bank, {class: "button"} %>
	<%= link_to 'Back', banks_path, {class: "button"} %>
</div>