<% if @role %>
	<p>
	  <strong>Name:</strong>
	  <%= @role.short_name %>
	</p>
	<%= link_to 'Editar Perfil', edit_user_path(@user) %> |
<% else %>
	<p>
	  <strong>Debe crear un perfil para continuar</strong>
	</p>
	<p>
	  <%= link_to "Crear Perfil", edit_user_path(@user) %>
	</p>
<% end %>

<%= link_to 'Back', users_path %>
