<h1>TEST</h1>
<p>DETECTAR ARCHIVOS</p>
<%= link_to "new_statement", new_statement_path %>
<p>ASIGNAR/ORDENAR ARCHIVOS</p>
<%= link_to "new_statement", new_statement_path %>
<p>LEER ARCHIVOS</p>
<p>SUBIR ARCHIVOS</p>
